*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root{
  --red: #F74943;
  --darkGrey: #363636;
  --darkGrey2: #4a4a4a;
  --lightGrey: #c3c3c3;
  --lightBlue: #42F2F7;
  --darkBlue: #46ACC2;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-size: 18px;
  background: var(--darkGrey);
  color: var(--lightGrey);
  line-height: 1.5em;
}

a{
  color: var(--lightGrey);
  cursor: pointer;
}

#aboutSection h3{
  padding-left: 10px;
}

.horizontal{
  display: flex;
  flex-direction: row;
  width: 70%;
}

.headerColor{
  color:var(--red);
}

.top{
  top:60%;
}

.verticalLine{
  width:100%;
  height:15px;
  position: absolute;
  margin-top: -50px;
  right: 0;
  z-index: -1;
  opacity: 0.8;
}

.line1{
  background: linear-gradient(90deg, #363636,30%,#42F2F7,70% ,#363636);
  transform: rotate(160deg);
}

.line2{
  background: linear-gradient(90deg, #363636,30%,#46ACC2,70% ,#363636);
  transform: rotate(170deg);
}

.line3{
  background: linear-gradient(90deg, #363636,30%,#F74943,70% ,#363636);
  transform: rotate(180deg);
}

.line4{
  background: linear-gradient(90deg, #363636,30%,#42F2F7,70% ,#363636);
  transform: rotate(150deg);
}

.line5{
  background: linear-gradient(90deg, #363636,30%,#46ACC2,70% ,#363636);
  transform: rotate(140deg);
}

.line6{
  background: linear-gradient(90deg, #363636,30%,#F74943,70% ,#363636);
  transform: rotate(130deg);
}

#decoration{
  clear: both;
}

#overlay{
  float: left;
  margin: 100px 0;
  text-align: center;
  font-size: 28px;
  line-height: 2em;
}

#overlay h1, #overlay2 h1, #overlay2 h2{
  margin: 10px;
}

#overlay span{
  color: #F74943;
  font-size: 80px;
}

#overlay2{
  float:right;
  line-height: 2em;
}



#overlay2 ul{
  text-align: left;
  list-style-type: square;
  margin-left: 50px;
}

.link{
  text-decoration: none;
}

.link:hover{
  color: var(--red);
}

#viewWork{
  margin: 0;
  width: 170px;
  border: 2px solid #a1a1a1;
  margin-top: 20px;
  margin-left:15px;
  padding: 5px 0;
  display: flex;
  font-size: 24px;
  box-shadow: 7px 7px 5px #2b2b2b;
}

#viewWork a{
  color: inherit;
  text-decoration: none;
}

.active{
  color:#F74943;
}

nav{
  width:100%;
  height: 40px;
  background: var(--darkBlue);
  margin-top: -4px;
  border-bottom: solid 5px #F74943;
  font-size: 14px;
  font-weight: 600;
}

nav ul{
  padding-top: 10px;
  list-style-type: none;
  font-size: 1.2em;
  max-width: 60%;
}

nav li{
  display: inline-block;
  margin-right: 40px;
}

nav li a{
  color: var(--darkGrey);
  text-decoration: none;
}

.fixed{
  position: fixed;
  top:0;
}

.container{
  min-height: 1000px;
  max-width: 1280px;
  margin-bottom: 50px;
  padding: 0 50px;
}

.container-small{
  padding-top: 50px;
  min-height: 600px;
  max-width: 1280px;
  padding: 0 50px;
}

.container-mid{
  padding-top: 50px;
  min-height: 900px;
  max-width: 1280px;
  padding: 70px 50px;
}


.header{
  display: flex;
  justify-content: center;
  font-size: 48px;
  clear: both;
  height: 100px;
  margin: 50px 0;
  line-height: 2em;
}

.workEthic{
  display: flex;
  margin: 100px 0;
}

.ethicItem{
  max-width: 25%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 10px;
}

.ethicItem h3, .ethicItem p{
  width: 200px;
  margin-top: 10px;
  padding: 10px 20px 0 20px;
  text-align: center;
}

.hexagon{
  width: 45%;
  opacity: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.service{
  width: 270px;
  min-height:500px;
  border: 2px solid var(--red);
  box-shadow: 10px 10px 5px #2b2b2b;
  padding: 10px 25px;
  background: var(--darkGrey2);
}

.service>h3{
  text-align: center;
  margin-top: 20px;
}

.service>p{
  text-align: justify;
  margin-top: 20px;
}

.service ul{
  list-style: square;
  padding: 20px 40px;
}

.service li{
  margin-top: 5px;
}

.serviceHeader, .ethicItem h3{
  color:var(--lightBlue);
  font-size:1.5em;
}

.pricing{
  font-size: 2.5em;
  text-align: center !important;
  padding-top: 150px;
}

.fadeIn-animation{
  animation-name: appear;
  animation-duration: 2s;
}

@keyframes appear {
  0%{
    opacity: 0%;
  }
  100%{
    opacity:100%;
  }
}

.hexagon-top{
  margin: 0;
  float: left;
  border-right: 30px solid var(--red);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagon-middle{
  margin: 0;
  float: left;
  width: 60px;
  height: 84px;
  background-color: var(--red);
  padding-top: 20px;
}

.hexagon-bottom{
  margin: 0;
  float: left;
  border-left: 30px solid var(--red);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

#aboutMe{
  display: flex;
  padding-bottom: 50px;
}

#aboutMe>div{
  width: 50%;
  margin: 0 25px;
}

#aboutMe>div>*{
  margin: 25px 0;
  text-align: justify;
}

#skills{
    padding-bottom: 50px;
}

.slideRight{
  animation-name: slideRight;
  animation-duration: 2s;
}

@keyframes slideRight {
  0%{
    transform: translateX(0);
  }
  80%{
    transform: translateX(150px);
  }
  100%{
    transform: translateX(0);
  }
}

.slideLeft{
  animation-name: slideLeft;
  animation-duration: 2s;
}

@keyframes slideLeft {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-150px);
  }
  100%{
    transform: translateX(0);
  }
}

.spinIn-animation{
  animation-name: spinIn;
  animation-duration: 2s;
}

@keyframes spinIn {
  0%{
    transform: rotate(-30deg);
  }
  55%{
    transform: scale(0.6);
  }
  100%{
    transform: rotate(360deg);
  }
}

#portfolioSection{
  margin-bottom: 100px;
}

#projectType{
  display: flex;
  width:60%;
  font-size: 1.5em;
  margin-bottom: 60px;
}

.projectTypeButton{
  width:25%;
  height:40px;
  text-align: center;
  border: 2px solid transparent;
  padding-top: 10px;
}

.projectTypeButton:hover{
  cursor: pointer;
  border: 2px solid var(--red);
  box-shadow: 10px 10px 5px #2b2b2b;
}

.activeB{
  background: var(--red);
  color: #191919;
  box-shadow: 10px 10px 5px #2b2b2b;
}

#projectRow{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.projectItem{
  height: 300px;
  width: 45%;
  margin-bottom: 60px;
  border: 2px solid #191919;
  background: #c9c9cd;
  text-align: center;
  color: #191919;
}

.projectItem>*{
  margin-bottom: 20px;
}

.projectItem:hover, #viewWork:hover{
  color: #F74943;
  border: 2px solid var(--red);
  box-shadow: 7px 7px 5px #2b2b2b;
}

.projectItem>h3{
  margin-top: 75px;
}

.projectRow a{
  text-decoration: none;
}

.overlay2{
  margin-top: 25%;
}

.contact p{
  color: var(--red);
  width: 50%;
  text-align:center;
  font-size: 1.2em;
}

#availability{
  font-size: 80px;
  color: var(--lightBlue);
  text-align: center;
  margin-bottom: 100px;
}

.spacing{
  margin-bottom: 50px;
}

.contact form{
  display: block;
  width: 40%;
}

form input, #emailMessage{
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 10px;
  background:#454545;
  border: none;
  color: var(--red);
  padding:0 20px 0 20px;
}

form input::placeholder, form textarea::placeholder{
  color: var(--red);
}

form input:focus, #emailMessage:focus{
  border: 2px solid var(--red);
  outline: var(--red);
}

#submit{
  border: 2px solid var(--red);
  width: 35%;
  line-height: 30px;
}

#submit:hover{
  border: 4px solid var(--red);
  cursor: pointer;
}

#emailMessage{
  height: 150px;
  resize: none;
}

#social{
  color: var(--red);
  padding:2px;
}

#socials{
  display: flex;
  width:15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#socials img{
  flex-grow: 1;
  width: 50px;
  height: 50px;
}

#social h6{
  width: 50%;
  text-align: center;
  padding:10px;
}
