*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

#background img{
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#overlay{
  position: absolute;
  top: 37%;
  right: 20.5%;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  font-family: 'Merriweather', serif;
}

#overlay h1{
  margin: 7px;
}

#overlay span{
  color: #FF0039;
}

#viewWork{
  width: 150px;
  border: 2px solid #ddd;
  margin-top: 7px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

#viewWork a{
  color: inherit;
  text-decoration: none;
}

.active{
  color:#FF0039;
}

.activeB{
  background: #FF0039;
}

nav{
  width:100%;
  height: 40px;
  background: #151B25;
  margin-top: -4px;
  border-bottom: solid 5px #FF0039;
  font-family: 'Merriweather', serif;
}

nav ul{
  padding-top: 10px;
  list-style-type: none;
  font-size: 1.2em;
  max-width: 60%;
}

nav li{
  display: inline-block;
  margin-right: 40px;
}

nav li a{
  color: white;
  text-decoration: none;
}

.fixed{
  position: fixed;
  top:0;
}

.container{
  padding-top:100px;
  min-height: 1000px;
  max-width: 1280px;
}

.container-small{
  padding-top:100px;
  min-height: 600px;
  max-width: 1280px;
}

.header{
  display: flex;
  justify-content: center;
  font-size: 3em;
  clear: both;
  height: 100px;
  font-family: 'Merriweather', serif;
}

#workEthic{
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
}

.ethicItem{
  max-width: 25%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 10px;
}

.ethicItem h3, .ethicItem p{
  width: 200px;
  margin: 0 auto;
  clear: both;
  padding: 10px 20px 0 20px;
  text-align: center;
}

.hexagon{
  width: 45%;
  opacity: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.fadeIn-animation{
  animation-name: appear;
  animation-duration: 2s;
}

@keyframes appear {
  0%{
    opacity: 0%;
  }
  100%{
    opacity:100%;
  }
}

.hexagon-top{
  margin: 0;
  float: left;
  border-right: 30px solid #123345;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagon-middle{
  margin: 0;
  float: left;
  width: 60px;
  height: 84px;
  background-color: #123345;
  padding-top: 20px;
}

.hexagon-bottom{
  margin: 0;
  float: left;
  border-left: 30px solid #123345;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

#skills{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#skillHeader{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}

.row{
  height: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
}

.slideRight{
  animation-name: slideRight;
  animation-duration: 2s;
}

@keyframes slideRight {
  0%{
    transform: translateX(0);
  }
  80%{
    transform: translateX(150px);
  }
  100%{
    transform: translateX(0);
  }
}

.slideLeft{
  animation-name: slideLeft;
  animation-duration: 2s;
}

@keyframes slideLeft {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-150px);
  }
  100%{
    transform: translateX(0);
  }
}

.spinIn-animation{
  animation-name: spinIn;
  animation-duration: 2s;
}

@keyframes spinIn {
  0%{
    transform: rotate(-30deg);
  }
  55%{
    transform: scale(0.6);
  }
  100%{
    transform: rotate(360deg);
  }
}

.skill{
  background:#123345;
  color: #eee;
  min-width: 100px;
  text-align: center;
  padding-top: 4px;
}

.progressBar{
  background:#e5e5e5;
  width: 100%;
}

.progressBar p{
  margin: 0;
  float: right;
  padding: 5px 0 0 10px;
  color: #111;
  font-weight: bold;
  width:10%;
}

.fluency{
  background:#FF0039;
  float: left;
  height: 30px;
}

.nine{
  width: 95%;
}

.seven{
  width: 75%;
}

.six{
  width: 65%;
}

.five{
  width: 55%;
}

.darkerBack{
  background: #e5e5e5;
}

#projects{
  margin-top:30px;
}

#projectType{
  display: flex;
  width:60%;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.projectTypeButton{
  width:25%;
  text-align: center;
}

.projectTypeButton:hover{
  cursor: pointer;
}

.projectRow{
  display: flex;
  flex-flow: row wrap;
}

.projectItem{
  height: 300px;
  width: 300px;
  padding: 4px;
  border: 1px solid red;
  text-align: center;
  background: #252934;
}

.projectItem>*{
  margin-bottom: 20px;
}

.projectItem:hover, #viewWork:hover{
  color: #FF0039;
  border: 2px solid #FF0039;
}

.projectItem>h3{
  margin-top: 75px;
}

.projectRow a{
  text-decoration: none;
  color:#eee;
  margin-bottom: 10px;
}

.overlay2{
  position: absolute;
  margin-top: -300px;
}

#bowCrafter img{
  object-fit: cover;
  z-index: -1;
}

#memory{
}

#pongClone{
}

#hackNoti{
}

.contact{
  background: #252934;
  color: #ddd;
}

.contact p{
  color: #FF0039;
  width: 50%;
  text-align:center;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.contact form{
  display: block;
  width: 40%;
}

form input, #emailMessage{
  width: 100%;
  line-height: 30px;
  margin-bottom: 10px;
  background: #1d242c;
  border: none;
  color: #fff;
  padding:0 20px 0 20px;
}

form input:focus, #emailMessage:focus{
  border: 2px solid #FF0039;
  outline: #FF0039;
}

#submit{
  float: right;
  border: 2px solid #FF0039;
  width: 100px;
  line-height: 30px;
  margin-top:-30px;
}

#emailMessage{
  height: 150px;
  resize: none;
  margin-bottom: 40px;
}

#social{
  background: #151B25;
  color: #FF0039;
  padding:1px;
}

#socials{
  display: flex;
  width:15%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#socials img{
  flex-grow: 1;
  width: 50px;
  height: 50px;
}

#social p{
  width: 50%;
  text-align: center;
  padding:10px;
}
